body{
    margin: 0;
    padding: 0;
    background-color: rgb(209, 206, 206);
}

#container{
   border: 1px solid black;
   height: 130px;
   background-color: white;
}


 header,.head{
   text-decoration: none;
   font-size: 28px;
   margin-top: 12px;
   margin-left: 12px;
  

}
nav ul{
        display: flex;
        flex-flow: row wrap;
        font-size: 35px;
        margin-top: -25px;
        justify-content: center;
        text-align: center;
        list-style-type: none;
}
    
    
nav li a{
        padding: .5em;
        white-space: nowrap;
       text-decoration: none;
 }

 #main{
    border: 1px solid black ;
    height: 600px;
    width: 1000px;
    margin-left: 442px;
    margin-right: 12px;
    margin-top: 8px;
   
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;

}
h2{
    text-align: center;
}

.title{
    color: grey;
    font-size: 18px;
}

footer{
   border: 1px solid black; 
   height: 150px;
   margin-top: 90px;
   background-color:rgb(255, 235, 212);
}



